<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLServer" connectionString="Server=.;Database=cinemaDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="LiteDB" connectionString="Filename=C:\database.db;Password=1234" />
	</connectionStrings>
</configuration>