<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLServer" connectionString="Server=.;Database=cinemaDB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="LiteDB_Pictures" connectionString="pictures.db" />
		<add name="LiteDB_Login" connectionString="login.db" />
	</connectionStrings>
</configuration>